# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"
# dotenv

# Add cargo binaries to PATH
PATH_add $HOME/.cargo/bin

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
